<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Pooldemy</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/courses">Browse</a></li>
          <% if (!user) {%>
          <li><a href="/login">Login</a></li>
          <% } else {%>
            <% if (user.role === 'teacher') {%>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" id="dropdown-instructor">
                  Instructor
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdown-instructor">
                  <li><a href="/teacher/dashboard">Instructor's Dashboard</a></li>
                  <li><a href="/revenue-report">Revenue Report</a></li>
                </ul>
              </li>
            <%} else {%>
              <li><a href="/become-an-instructor">Become an Instructor</a></li>
            <%}%>
          
          <li><a href="/profile"><%= user.profile.name %></a></li>
          <li><a href="/logout">Logout</a></li>
          <% }%>
        </ul>
      </div>
    </nav>